<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="test.folder.music" value="d:\Music\ACDC\"/>
    <add key="test.folder.lastfmfpclient" value="c:\Temp\lastfm.fpclient.beta2.2.win32\lastfmfpclient.exe"/>
    <add key="lastfm.api.key" value="b25b959554ed76058ac220b7b2e0a026"/>
    <add key="lastfm.api.address" value="http://ws.audioscrobbler.com/2.0"/>
  </appSettings>
</configuration>