<?xml version="1.0"?>
<configuration>
  <configSections>
	<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
	  <section name="CoverRetriever.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</sectionGroup>
  </configSections>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
	<CoverRetriever.Properties.Settings>
   <setting name="SearhGoogle" serializeAs="String">
     <value>https://www.googleapis.com/customsearch/v1</value>
   </setting>
   <setting name="SearhGooglePattern" serializeAs="String">
     <value>{0} - {1}</value>
   </setting>
   <setting name="KeyGoogle" serializeAs="String">
     <value>AIzaSyAndk2Rf--r_1NURD2Wyu9Llc2vqN2S3ew</value>
   </setting>
   <setting name="CacheFilePath" serializeAs="String">
     <value>./CoverRetriever.cache</value>
   </setting>
   <setting name="AcousticIdApiKey" serializeAs="String">
     <value>rAFaRxdy</value>
   </setting>
   <setting name="AcousticIdFingerprintClientPath" serializeAs="String">
     <value>./AcoustId/fpcalc.exe</value>
   </setting>
   <setting name="SearchGoogleCX" serializeAs="String">
     <value>003518012064168801550:kt1jmqg4jmu</value>
   </setting>
   <setting name="SearchBing" serializeAs="String">
     <value>https://www.bing.com/images/search?q={0}</value>
   </setting>
   <setting name="KeyBing" serializeAs="String">
     <value>rztsZhUz5wJ5Q9qWb0R9Yd6IBXjO0hDf+kHgiwHxFfA</value>
   </setting>
 </CoverRetriever.Properties.Settings>
  </applicationSettings>
</configuration>
