<?xml version="1.0"?>
<configuration>
  <configSections>
	<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
	  <section name="CoverRetriever.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</sectionGroup>
  </configSections>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <applicationSettings>
	<CoverRetriever.Properties.Settings>
   <setting name="SearhGoogle" serializeAs="String">
     <value>https://www.googleapis.com/customsearch/v1</value>
   </setting>
   <setting name="SearhGooglePattern" serializeAs="String">
     <value>{0} - {1}</value>
   </setting>
   <setting name="KeyGoogle" serializeAs="String">
     <value>AIzaSyCPJqOuWozFjSw0pqp8eosBBssh2Oa7jAc</value>
   </setting>
   <setting name="CacheFilePath" serializeAs="String">
     <value>./CoverRetriever.cache</value>
   </setting>
   <setting name="AcousticIdApiKey" serializeAs="String">
     <value>rAFaRxdy</value>
   </setting>
   <setting name="AcousticIdFingerprintClientPath" serializeAs="String">
     <value>./AcoustId/fpcalc.exe</value>
   </setting>
   <setting name="SearchGoogleCX" serializeAs="String">
     <value>016946005127462810279:k1mbjuwdts8</value>
   </setting>
 </CoverRetriever.Properties.Settings>
  </applicationSettings>
</configuration>
